﻿@model UserViewModel

<dl class="row">
    <dt class="col-sm-3">@Html.DisplayNameFor(u => u.Id)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(u => u.Id)</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(u => u.Login)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(u => u.Login)</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(u => u.FullName)</dt>
    <dd class="col-sm-9">
        @(string.IsNullOrWhiteSpace(Model.FullName)
                      ? new StringHtmlContent("(не задано)")
                      : Html.DisplayFor(u => u.FullName))
    </dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(u => u.BirthDate)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(u => u.BirthDate)</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(u => u.PassportNumber)</dt>
    <dd class="col-sm-9">
        @(string.IsNullOrWhiteSpace(Model.PassportNumber)
                      ? new StringHtmlContent("(не задан)")
                      : Html.DisplayFor(u => u.PassportNumber))
    </dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(u => u.Phone)</dt>
    <dd class="col-sm-9">
        @(string.IsNullOrWhiteSpace(Model.Phone)
              ? new StringHtmlContent("(не задан)")
              : Html.DisplayFor(u => u.Phone))
    </dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(u => u.IsEnabled)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(u => u.IsEnabled)</dd>
</dl>