﻿@{
    ViewData["Title"] = "Добро пожаловать";
}

<h2>Описание</h2>

<div class="row">
    <p class="col-md-6">
        Реализовал часть сайта, куда заходит клиент. Админки нет, но есть предустановленный пользователь.
        В качестве хранилища используется LocalDb. База данных и пользователь создаются автоматически.
    </p>
</div>

<dl class="row">
    <dt class="col-sm-3">Логин</dt>
    <dd class="col-sm-9"><kbd>admin</kbd></dd>

    <dt class="col-sm-3">Пароль</dt>
    <dd class="col-sm-9"><kbd>$str0n9 pa$$w0rd</kbd></dd>
</dl>