﻿@model UserViewModel
@{
    ViewData["Title"] = "Информация о пользователе";
}

<h2>Информация о пользователе</h2>

@Html.DisplayForModel()

<form asp-controller="Auth" asp-action="Logout">
    <button type="submit" class="btn btn-primary">Выйти</button>
</form>

