﻿@model UserLoginModel

@{
    ViewData["Title"] = "Вход";
}

<h2>Вход</h2>

<div class="row">
    <form asp-antiforgery="true" asp-action="Login" asp-controller="Auth">
        <div class="col-md-5">
            <div class="validation" asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="Login">Логин</label>
                <input type="text" class="form-control" asp-for="Login" placeholder="Введите логин">
                <span asp-validation-for="Login"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password">Пароль</label>
                <input type="password" class="form-control" asp-for="Password" placeholder="Введите пароль">
                <span asp-validation-for="Password"></span>
            </div>
            <button type="submit" class="btn btn-primary">Войти</button>
        </div>
    </form>
</div>

@section Scripts
{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}